/*-- scss:defaults --*/

/* font customization */
$font-family-sans-serif: 'Aptos', sans-serif !default;
$headings-font-family: 'Aptos', sans-serif !default;

/* customize background colors */
$body-bg: #fff5f5  !default;
$body-color: #333 !default;

/* heading customization */
$h1-font-size: 2.2rem !default;
$h2-font-size: 1.8rem !default;
$h3-font-size: 1.6rem !default;
$headings-color: #AE445A !default;
$headings-font-weight: 600 !default;

/*-- scss:rules --*/

/* body styling */
body {
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
  color: $body-color;
}

/* custom styles for titles */
h1 {
  font-size: $h1-font-size;
  color: $headings-color;
}

h2 {
  font-size: $h2-font-size;
  color: darken($headings-color, 10%);
}

h3 {
  font-size: $h3-font-size;
  color: lighten($headings-color, 10%);
}

/* navbar customization */
.navbar {
  background-color: #6d64a1 !important;
  color: white !important;
}


/* hperlink styling */
a {
  color: #d95d77;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: darken(#a744ae, 10%);
  text-decoration: underline;
}


.listing-title a {
  color: #4e458c !important;
  text-decoration: underline;
  font-weight: 600;
}


.listing-title a:hover {
  color: #5eebb0 !important;
  text-decoration: underline;
}

